* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: sans-serif;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #293264;
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
}

.start-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 1.9531rem;
  line-height: 2.3125rem;
  text-align: center;
  color: #293264;
  margin: 0;
}

.start-page p {
  font-family: 'Inter';
  font-weight: 400;
  line-height: 1.1875rem;
  color: #293264;
}

button {
  background: #4D5B9E;
  border: none;
  padding: 1.5rem 3rem;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  color: #F5F7FB;
  margin: 0 auto;
  display: block;
  border-radius: 1.25rem;
}

h2 {
  font-family: 'Karla';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  /* identical to box height */
  color: #293264;
}

.questions-container {
  width: 80%;
  margin: 3rem auto;
}

input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

label:has(input:checked) {
  background-color: #D6DBF5;
  border: none;
}

label:active {
  background-color: #D6DBF5;
}

.question-container {
  border-bottom: #D6DBF5 2px solid;
}

.choices-container {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

label {
  display: grid;
  position: relative;
  margin-bottom: 1.25rem;
  padding: .5rem 1rem;
  border: 1px solid #293264;
  border-radius: .4rem;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.show-correct-choice {
  background-color: lightgreen;
  border: none;
}

label:has(input:checked).submitted {
  background-color: lightcoral;
}